/* 随机背景 */
.hero-unit01 {
	background: url("../img/bg/head_img01.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: 0;
}

.hero-unit02 {
	background: url("../img/bg/head_img02.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: 0;
}

.hero-unit03 {
	background: url("../img/bg/head_img03.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: 0;
}

.hero-unit04 {
	background: url("../img/bg/head_img04.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 300px;
	margin-bottom: 0;
}

.hero-unit05 {
	background: url("../img/bg/head_img05.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: 0;
}

.hero-unit06 {
	background: url("../img/bg/head_img06.jpg") repeat scroll 0 0/cover
		transparent;
	color: #FFFFFF;
	height: 400px;
	margin-bottom: 0;
}
/* 随机背景结束 */
 
 
#content {
    background: url("../img/bg04.png") repeat scroll 0 0 #F7F7F7;
    border-top: 1px solid #FFFFFF;
}
#content section {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
    margin: 0 0 10%;
    padding: 40px 30px 45px;
}
.logo-info{
	color: #6b7770;
	margin-top: -10px;
}
.logo-info h1 {
	display: inline;
	margin-right: 30px;
}

.logo-info a {
	color: inherit;
	text-decoration: none;
}
 
#main-wrapper{
	margin-top: 80px;
	padding-bottom: 100px; 
}
.major span {
    background: none repeat scroll 0 0 #FFFFFF;
    color:#6b7770;
    display: inline-block;
    position: relative;
}
.major {
    border-top: 5px solid #E7EAE8;
    position: relative;
}
.major span {
    padding: 0 15px;
    top: -23px;
    left: 15px;
}
.side-ul{
	color:#6b7770;
}
.sidebar a{
	color: inherit;
	text-decoration: none;
}
.side-ul > li:first-child {
    border-top: 0 none;
    margin-top: 0;
    padding-top: 0;
}
.side-ul > li {
    border-top: 2px solid #E7EAE8;
    margin-top: 1.35em;
    padding-top: 1.35em;
}


section:last-child, article:last-child {
    margin-bottom: 0;
}

.is-post-summary .meta {
    line-height: 1em;
    margin: 0;
}
ul.meta {
    color: #A1AAA5;
    font-size: 0.85em;
}

.button {
    background: none repeat scroll 0 0 #E3DAA8;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
    outline: 0 none;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out 0s;
    font-size: 1.25em;
    padding: 0.85em 1.85em;
    margin-top: 20px;
}
 
.button-alt {
    background: none repeat scroll 0 0 #C1CAC5;
}
.button-alt:hover {
    background: none repeat scroll 0 0 #CCD5D0;
}

